/* .css-19kzrtu {
  padding: 0 !important;
} */

.projectTitle {
  font-weight: bold;
  margin: 2vh 1vw;
  text-align: center;
}

#combo-box-demo {
  height: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
