.gantt-chart-page {
  background-color: #e4eef1;
  min-height: 100vh;
}

.gantt-chart-wrapper {
  height: 80vh;
  overflow: auto;
}

.gantt-chart {
  padding: 20px 24px 20px 24px;
  height: 90%;
}

.export-button-gantt {
  margin-top: 20px;
  padding: 0 24px 0 24px;
  display: flex;
  justify-content: flex-end;
}
