.common-input-section {
  box-sizing: border-box;
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  /* background-color: yellowgreen; */
  padding-right: 24px;
  padding-left: 24px;
  /* height: 100px; */
  align-items: center;
  align-content: center;
  /* background-color: white; */
  width: 100%;
}

.common-input-wrapper {
  box-sizing: border-box;
  width: 100%;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 10px;
  padding-right: 10px;
}
.common-input-date {
  width: 100%;
  margin: 10px 0px 10px 0;

  display: flex;
  justify-content: space-around;
  background-color: white;
  align-items: center;
}
@media only screen and (min-width: 481px) and (max-width: 768px) {
  .common-input-date { 
    flex-direction: column;
    gap: 10px;
  }
  .common-input-wrapper {
    align-items: flex-start;
  }
}

.home-page-wrapper {
  background-color: #e4eef1;
  min-height: 100vh;
}

.total-duration-estimate {
  display: flex;
  gap: 10px;
  align-items: center;
}