.header {
  display: flex;
  /* background-color: #051c2a; */
  background-color: white;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  height: 8vh;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  position: sticky;
    top: 0;
    z-index: 100;
}

.heading {
  display: flex;
  justify-content: center;
  align-items: center;

  width: fit-content;
}

.signout-button{
  font-weight: bold;
  cursor: pointer;
}
