.sprintViewHeader {
  text-align: left;
  display: flex;
  padding-left: 1vw;
  font-size: larger;
  align-items: center;
}

.sprintViewBody {
  display: flex;
  gap: 1vw;
  width: 98vw;
  overflow-x: scroll;
  padding: 2vh 1vw;
  /* scroll-snap-type: x mandatory; */
}

.sprintBody {
  display: flex;
  flex-direction: column;
  width: 30vw;
  align-items: center;
  gap: 1vh;
  height: 60vh;
  overflow-y: scroll;
}

.sprintBodyWithHeader {
  /* border: 1px solid black; */
  border-radius: 5px;
  padding: 2vh 1vw;
  background-color: rgb(244, 245, 247);
}

.sprintBodyWithHeader > h1 {
  text-align: center;
  background-color: #e4eef1;
  margin: 0;
  margin-bottom: 1vh;
  border-radius: 5px;
}

.sprintViewBody::-webkit-scrollbar {
  display: none;
}

.sprintBody::-webkit-scrollbar {
  display: none;
}

.sprintView {
  overflow: auto;
}

.leftButton {
  position: absolute;
  left: 0;
  bottom: 1vh;
  z-index: 1;
  border: none;
  padding: 1vh 1vw;
  font-size: 2rem;
  cursor: pointer;
  margin-left: 1vw;
}

.rightButton {
  position: absolute;
  right: 0;
  bottom: 1vh;
  z-index: 1;
  border: none;
  padding: 1vh 1vw;
  font-size: 2rem;
  cursor: pointer;
  margin-right: 1vw;
}
