.gantt-chart-page {
  background-color: #e4eef1;
}

.gantt-chart-wrapper {
  /* min-height: 90vh; */
  /* margin-bottom: 30px; */
}

.gantt-chart {
  padding: 20px 24px 20px 24px;
  height: 80vh;
  /* margin-bottom: 3vh;
  box-sizing: border-box; */
}

.export-button-gantt {
  margin-top: 20px;
  padding: 0 24px 0 24px;
  display: flex;
  justify-content: flex-end;
}
